@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
body{
  margin: 0;
  padding: 0;
  font-family: var(--font);
  color: var(--primary-text);
  background-color: var(--primary-background);
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
:root{
  /* Secondary Colors */
  --flat-secondary: #e74c3c; /* Red */
  --flat-secondary-dark: #c0392b; /* Dark Red */
  --flat-secondary-light: #f1948a; /* Light Red */

  /* Success */
  --flat-success: #2ecc71; /* Green */
  --flat-success-dark: #27ae60; /* Dark Green */
  --flat-success-light: #58d68d; /* Light Green */

  /* Warning */
  --flat-warning: #f39c12; /* Yellow */
  --flat-warning-dark: #e67e22; /* Dark Yellow */
  --flat-warning-light: #f9e79f; /* Light Yellow */

  /* Info */
  --flat-info: #1abc9c; /* Teal */
  --flat-info-dark: #16a085; /* Dark Teal */
  --flat-info-light: #48c9b0; /* Light Teal */

  /* Neutral */
  --flat-neutral: #95a5a6; /* Gray */
  --flat-neutral-dark: #7f8c8d; /* Dark Gray */
  --flat-neutral-light: #bdc3c7; /* Light Gray */

  --border-radius:15px;
  --font:-apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}


@media (prefers-color-scheme: light) {
  :root{
    --primary1: #ffa500;
    --primary2: #ba7d0d;
    --primary3: #ae7714;
    --primary4: #9c7123;
    --primary5: #8a692c;
    --primary6: #6a542a;
    --primary7: #604d2d;
    --primary8: #392f1d;
    --primary9: #272015;
    --primary10: #231e13;
    --primary11: #000000;
    --primary12: #202020;
    --primary13: #454545;
    --primary14: #636363;
    --primary15: #919191;
    --primary16: #bfbfbf;
    --primary17: #e1dddd;
    --primary18: #ffffff;
    --primary-text: var(--primary12);
    --primary-background: var(--primary18) ;
    --toastify-color-light: var(--primary-background);
  }
}
@media (prefers-color-scheme: dark) {
  /*:root {
    --primary1: #004bff;
    --primary2: #0024cd;
    --primary3: #003ecc;
    --primary4: #1e63f2;
    --primary5: #3b82f6;
    --primary6: #60a5fa;
    --primary7: #93c5fd;
    --primary8: #bfdfff;
    --primary9: #e0f2fe;
    --primary10: #f0f9ff;
    --primary11: #d1d5db;
    --primary12: #9ca3af;
    --primary13: #6b7280;
    --primary14: #505b6e;
    --primary15: #40444a;
    --primary16: #35393f;
    --primary17: #25272b;
    --primary18: #1a1c1f;
    --primary-text: var(--primary9);
    --primary-background: var(--primary18);
    --toastify-color-light: var(--primary-background);
  }*/

  :root {
    --primary1: #ffa500;
    --primary2: #ba7d0d;
    --primary3: #ae7714;
    --primary4: #9c7123;
    --primary5: #8a692c;
    --primary6: #6a542a;
    --primary7: #604d2d;
    --primary8: #392f1d;
    --primary9: #e0f2fe;
    --primary10: #f0f9ff;
    --primary11: #d1d5db;
    --primary12: #9ca3af;
    --primary13: #6b7280;
    --primary14: #505b6e;
    --primary15: #40444a;
    --primary16: #35393f;
    --primary17: #25272b;
    --primary18: #1a1c1f;
    --primary-text: var(--primary9);
    --primary-background: var(--primary18);
    --toastify-color-light: var(--primary-background);
  }

  /*
  :root {
    --primary1: #008000;
    --primary2: #006400;
    --primary3: #008000;
    --primary4: #3cb371;
    --primary5: #32cd32;
    --primary6: #90ee90;
    --primary7: #98fb98;
    --primary8: #b0e57c;
    --primary9: #e0f2e0;
    --primary10: #f0f9f0;
    --primary11: #d1d5db;
    --primary12: #9ca3af;
    --primary13: #6b7280;
    --primary14: #505b6e;
    --primary15: #40444a;
    --primary16: #35393f;
    --primary17: #25272b;
    --primary18: #1a1c1f;
    --primary-text: var(--primary9);
    --primary-background: var(--primary18);
    --toastify-color-light: var(--primary-background);
  }
  */

}